<% title "Feed" %>

<p>
  <strong>Url:</strong>
  <%=h @feed.url %>
</p>

<p>
  <%= link_to "Edit", edit_feed_path(@feed) %> |
  <%= link_to "Destroy", @feed, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", feeds_path %>
</p>
