%h1 Make a Donation

%p There is no charge for using this web site or mailing list. However, it costs me $500 a month to host the server, including the time I spend keeping it running.

%p If you have found this site useful, there are a couple of ways you can help.

%ul
  %li
    Make a
    %a{:href => 'http://www.friendsofbclist.org/petebevin.htm'}
      tax-free donation to the Pete Bevin fund
    that the nice people at FBCL set up (
    %a{:href => 'http://www.friendsofbclist.org/petebevin.htm'}
      more info
    \);
  %li
    %a{:href => 'https://www.paypal.com/xclick/business=pete@petebevin.com&item_name=Breast+Cancer+Mailing+List+Archive&no_shipping=1&return=http%3A//bc.PeteBevin.com/payment-confirm.html&cancel_return=http%3A//bc.PeteBevin.com/donations.html'}
      Make a donation of $25 a year or more
    via PayPal;

%p Thanks for helping to support this web site!

%p
  %a{:href=>'http://www.petebevin.com/'}
    Pete Bevin