%h1 Import Users from Mailman

- form_tag do
  %p
    File path: 
    = text_field :file, :name
    = submit_tag "Import"
  %p Reminder: use <tt>cd /home/mailman; bin/dumpdb bcmets/config.pck > file</tt>