body {
	font-family: "Optima","Lucida Grande","Trebuchet MS",Verdana,sans-serif;
	color: #333;
	background: #fffefe;
	min-width: 970px;
	line-height : 1.5em;
}
a {
	color: #009;
}
a:visited {
	color: #060;
}
a:hover, a:focus, a:active {
	background-color: #009;
	color : #fff;
	text-decoration : none;
}

#pageheader a:hover, #pageheader a:focus, #pageheader a:active {
	background-color: #fffefe;
}

table.index {
	border: 1px solid #999;
	border-collapse: collapse;
}
table.index td {
	padding: 3px 10px;
}
#wrap {
	margin: 0 auto;
	width: 960px;
}
#pageheader {
	color: #fff;
	padding: 0px;
}
#main {
	float: left;
	margin-bottom: 20px;
	width: 700px;
}
#sidebar {
	float: right;
	width: 250px;
}
#footer {
	border-top: 1px solid #999;
	padding-top: 0;
	clear: both;
}

#sidebar h3 {
	margin-bottom: 0;
}
#sidebar ul {
	margin-top: 1ex;
	padding-left: 1em;
}
#sidebar li {
	list-style: url("/arrow.gif");
	padding-bottom: 1ex;
}

#sidebar strong {
	background-color: #009;
	color : #fff;
	text-decoration : none;
	padding : 3px;
}



#main li {
margin-top : 1em;
}


#main ul ul li {
margin-top : .1em;
}