*/5 * * * * cd /home/www/bcmets/current && /usr/local/rvm/wrappers/ruby-2.1.5/bundle exec rake -s import_emails &> /dev/null
*/11 * * * * cd /home/www/bcmets/current && /usr/local/rvm/wrappers/ruby-2.1.5/bundle exec rake feeds >/dev/null 2>&1
*/19 * * * * cd /home/www/bcmets/current && /usr/local/rvm/wrappers/ruby-2.1.5/bundle exec rake ts:index >/dev/null 2>&1 && curl https://nosnch.in/5b2d95aa47 &> /dev/null
