%h1 Disclaimer

%p This web site is designed for educational purposes only and is not engaged in rendering medical advice.

%p The information in the archives is written by the individual authors of the messages, not the owners of this web site.

%p The information provided through this site should not be used for diagnosing or treating a health problem or a disease. It is not a substitute for professional care.

%p
  %u
    If you have or suspect you may have a health problem, you should consult your health care provider.

%p The authors, editors, producers, sponsors, and contributors shall have no liability, obligation or responsibility to any person or entity for any loss, damage, or adverse consequence alleged to have happened directly or indirectly as a consequence of any material provided at this web site.
