%h1 Make a Donation

%p There is no charge for using this web site or mailing list. However, it costs me $200 a month to host the server, including the time I spend keeping it running.

%p
  If you have found this site useful, please consider
  %a{href: "https://paypal.me/pbevin"} making a donation of $25 a year or more.

%p Thanks for helping to support this web site!

%p
  %a{:href=>'http://www.petebevin.com/'}
    Pete Bevin
