%h1 How to Use the List

%p (Contributed by Susan Holmberg)

%h2 A. "No Mail" Option

%p As a member of the list, you can choose to correspond with others by clicking on posts in the current archive of messages to reply to them, and you will receive no messages in your own email. This would be using the list like any other message board or forum.

%h2 B. "Individual" or "Digest" Option

%p Most people, however, choose to receive the messages either 'individually' or in 'digest' form in their own mailbox, and they rarely return to the main page of archives. Think of it as every poster on the list sending you a copy of their posts, and everything you post being copied to everyone else on the list.
Using this option, the Archives become just that - an archive where you can find back posts if you need to, or to research particular subjects.

%h2 Handling your Mail

%p As soon as you become a member of the list you will start receiving emails in your mail box. When you REPLY to a message you have three options. You can send your reply to:

%ul
  %li The author of that email only
  %li The author of that email AND everyone on the list
  %li Just everyone on the list because the author is on the list too!

%p For option 1, just hit your Reply button just as you normally would to send a response to any email. Note the author's name is the only one in the To: field.

%p For option 2, hit the Reply All button. Note that in the To: field there is the author's email address AND the address of the list; bcmets@bcmets.org.

%p Use option 3 so that the author of the email you are responding to doesn't get it twice. Simply delete the author's email address from the To: field. This is just a courtesy option.

%p To make a NEW POST - i.e., start a new topic, just send an email to bcmets@bcmets.org. You will, of course, find it in your mail box, because you are on the list too!

%p You will get a lot of emails. At any time you can turn off mail from the list. See the instructions in the welcome email you got when you joined or the monthly reminder email.