%h1 Welcome to bcmets!

%p
  I'm sorry you have a reason to be here, but glad you found bcmets. This community has been on the Internet since
  early 2000, and is now the world's largest online support group for metastatic breast cancer, with over 1000 members
  as of 2009.

%p
  As you might imagine, with such a large group, we get a lot of messages per day.  This means we have had to ask
  everyone to be considerate about what they post.  Here are some guidelines we have developed over the years.

%ul
  %li
    LIMIT YOURSELF TO 5 PUBLIC MESSAGES A DAY. Remember - if 1000 people
    posted 5 messages each a day, that would be 5,000 messages in your
    inbox every morning. Think about it.
  %li
    Be aware of who you're sending to. If your message is just for
    one person, send it directly. The other 399 people on the list
    don't always want to hear your "me too" or "good luck" message.
  %li
    If you're a digest reader, don't quote the entire digest below
    your message. It causes all kinds of problems.
  %li
    Be aware of subject lines - it helps people find relevant
    information more easily (and the archive search treats the subject
    line with extra importance).

%p
  You can post using the "Post a new message" button on the right, or the "Reply to the list" button
  at the top of posts.  You can also send messages via email to
  <a href="mailto:bcmets@bcmets.org">bcmets@bcmets.org</a>.

%p
  That's about it - remember, if you have any problems, you can email me any time at
  <a href="mailto:owner@bcmets.org">owner@bcmets.org</a>.

%p Pete Bevin.
