%h1 Privacy Policy

%p This web site is owned and operated by Pete Bevin, 65 Empire Avenue, Toronto ON M4M 2L3, Canada. You can reach Pete by email at pete@petebevin.com.

%h2 Privacy of Visitors to This Site

%p For each visitor to the web site, the server records:

%ul
  %li The IP address of the visitor's computer;
  %li The browser and operating system;
  %li The pages visited, with time stamp and status information;

%p This information is used in aggregate to guide improvements to the site, and to diagnose problems. It is not made available to anyone else. The information cannot identify an individual directly; in particular, the site can not determine the email address or any other identifying information about a site visitor.

%p At the time of writing, this site uses cookies to store the name and email address of the user, as entered in the "Post to List" or "Reply" function. However, future updates may use cookies for the following purposes:

%ul
  %li Store preferences such as recently used search terms;
  %li Store "favorite" articles;
  %li Store viewing preferences.

%p Use of cookies will always be on an "opt-in" basis.

%h2 Privacy of List Participants

%p The site records all articles received by the archive software. In order to balance accessibility to the information posted against privacy of the individuals on the list, this site uses the following policy:

%ul
  %li Search engines may only index the front page and informational pages; they are prohibited from indexing the list archives themselves;
  %li Human visitors to the site may view all content.

%p Posts may occasionally be deleted from the archive in the following circumstances.
%ul
  %li If there are legal reasons (such as copyright infringement) why the information may not be posted on the web site;
  %li By request of the original author of the message.
  %li If the message is spam.

%p However, there is no guarantee that messages fitting these criteria will be deleted.