@font-face {
  font-family: 'Optima';
  src: font-url('2BDF6C_0_0.eot');
  src: font-url('2BDF6C_0_0.eot?#iefix') format('embedded-opentype'),
       font-url('2BDF6C_0_0.woff') format('woff'),
       font-url('2BDF6C_0_0.ttf') format('truetype');
}

