.tl
  width: 100%
  .tl_posts
    margin-top: 32px

    .tl_post
      width: 100%
      border: 1px solid #ddd
      margin-bottom: 20px

      .tl_headers
        width: 100%
        padding: 5px

        .tl_avatar
          float: right
          &:hover
            background-color: transparent
        h2
          margin: 10px 0 6px
          clear: none

      .tl_body
        padding: 0 5px 10px

        p
          margin: 0 0 6px 0

