.tl
  width: 100%
  .tl_posts

    .tl_post
      width: 100%
      border: 1px solid #ddd
      margin-bottom: 20px

      .tl_headers
        width: 100%
        padding: 5px

        .tl_avatar
          float: right
          &:hover
            background-color: transparent
        h2
          clear: none

      .tl_body
        padding: 10px

        blockquote
          margin-left: 0
          border-left: 3px solid #4b6580
          padding-left: 20px
          opacity: 0.8
