%h1 Archives
%p
  = link_to "Post a message to the list", post_path
- @year.downto(2000).each do |year|
  %h2
    = year
  %ul.index
    - (1..12).each do |month|
      %li
        = month_link(year, month)
