%h1 Archives
%p
  = link_to "Post a message to the list", post_path
.pinned
  %h4 Hi there! Can you help?

  %p
    We are asking you to participate in a research study to find
    out what women with metastatic breast cancer want to know about
    your disease, how you get this information, and what you think
    about the information you have gotten.

  %p
    The link to the Consent Form and survey questionnaire is:
    = link_to "https://www.surveymonkey.com/r/Z5DS6TT", "https://www.surveymonkey.com/r/Z5DS6TT"

  %p
    Thanks for your help.
    %br
    Carol Tucker
    %br
    M. Pilar Martin
    %br
    Ray Jones

- @year.downto(2000).each do |year|
  .year{class: year == @year ? "current" : "old"}
    %h2
      = year
    %ul.index
      - (1..12).each do |month|
        %li
          = month_link(year, month)
