- if !@articles.blank?
  %p
    = @article_count
    articles.
    = link_to 'View in date order', archive_month_by_date_path(:year => @year, :month => @month)
  %ul.month
    = thread_as_html(@articles)
- else
  %p
    There are no articles.
