<% if !@articles.blank? %>
  <p><%= @article_count %> articles.  <%= link_to 'View in date order', archive_month_by_date_path(:year => @year, :month => @month) %></p>
  <ul>
  <% for article in @articles %>
    <%= thread_as_html(article) %>
  <% end %>
	</ul>
<% else %>
  <p>There are no articles.</p>
<% end %>
