<% if !@articles.blank? %>
  <p><%= @article_count %> articles.</p>
  <ul>
  <% for article in @articles %>
    <%= thread_as_html(article) %>
  <% end %>
	</ul>
<% else %>
  <p>There are no articles.</p>
<% end %>
